# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

data/eval
data/train
data/sampled

*.DS_Store
*.json
*.pkl
tmp/
runs/
*.out
wandb
*.pth
*.ckpt
*.png

# personal ignore root
personal/
streamlit/
final_project_level3_cv_06.egg-info/

