# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

data/eval
data/train
data/sampled
/.venv
*.DS_Store

*.ckpt
saved_models/tensorboards/DenseNet/events.out.tfevents.densenet
saved_models/tensorboards/GoogleNet/events.out.tfevents.googlenet
saved_models/tensorboards/ResNet/events.out.tfevents.resnet
saved_models/tensorboards/ResNetPreAct/events.out.tfevents.resnetpreact
saved_models/*

detection/lightning_logs/*
detection/wandb/*
detection/data
detection/saved_models/*
*.json
*.pkl
tmp/
runs/
*.out
wandb
*.pth
*.ckpt

# personal ignore root
personal/
streamlit/
final_project_level3_cv_06.egg-info/

app/static/detection_pred
app/static/multilabel_grad_cam
app/static/multilabel_pred