albumentations
addict
opencv-python
easydict
einops
torch
torchvision
timm
tqdm
uvicorn
pycocotools
sklearn
skimage
scipy
numpy
pandas
matplotlib
webcolors
wandb
yapf
pillow
imgaug
grad-cam
easydict
python-multipart